<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>deleteAll</title>
</head>

<body>
	<h1>Removing All FlashCards</h1>
	<form action="/deleteAll" method="post">
	<input type="submit" value="Remove All" onclick="return confirm('Are you sure you want to delete all Flash Cards?');"> 
	</form>
	<hr>
	<a href="/">Make Flashcard!</a>
</body>

</html>