<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Lookup FlashCard</title>
</head>

<body>
	<h1>Find a Flashcard</h1>
	<form action="/lookup" method="post">
		<fieldset>
			<label><strong>English Word: </strong><input type="text" name="lookup" size="30"></label>
            <br><br>
		</fieldset>
		<br>
		<input type="reset" value="Reset">
		<input type="submit" value="Submit Request">
	</form>
	<hr>
	<a href="/">Make Flashcard!</a>
</body>

</html>
