<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>processDeleteAll</title>
</head>

<body>
	<h1>Remove All Flashcards</h1>

	Success! All Flashcards have been removed. 
	Number of FlashCards removed: <%- numRemoved %>
	<br><br>
	<a href="/">Make Flashcard!</a>
</body>

</html>