<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>processLookup</title>
</head>

<body>
	<h1>Flashcard Data</h1>
	<div style = "border: 0.5rem solid lightblue; width: 20rem; padding: 2rem;">
		<strong>English Word: </strong> <%- Word %><br>
		<strong>Translated Spanish Word: </strong> <%- NewWord %><br>
	</div>
	<hr>
	<a href="/">Make Flashcard!</a>
</body>

</html>